* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  font-family: "inter";
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 93px auto 201px;
  background-color: lightcoral;
  width: 1280px;
  height: 688px;
}
.general-mode {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0;
  padding: 16px;
  border-radius: 16px;
  background-color: #3d3d3d;
  box-shadow: 0px 0px 2px 0px #0000001f, 0px 4px 8px 0px #00000024;
}
.left-side {
  display: flex;
  flex-direction: column;
  width: 416px;
  height: 670px;
  gap: 16px;
}
.weather {
  display: flex;
  justify-content: space-between;
  width: 416px;
  height: 178px;
}
.calendar {
  width: 416px;
  height: 194px;
}
.email {
  width: 416px;
  height: 266px;
}
.right-side {
  display: flex;
  flex-direction: column;
  width: 848px;
  height: 688px;
  gap: 16px;
}
.billboard {
  width: 848px;
  height: 408px;
}
.down-in-left-side {
  display: flex;
  gap: 16px;
  width: 848px;
  height: 264px;
}
.quote {
  width: 489px;
  height: 189px;
}
.feeling {
  width: 343px;
  height: 264px;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
p {
  color: #ffffff66;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
h1,
h2,
h3 {
  color: #ffffff;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}
h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.temp {
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.up {
  padding: 0;
  margin: 0;
  width: 130px;
}
.down {
  padding: 0;
  margin: 42px 0 0 0;
  width: 70px;
}

.weather-logo {
  width: 155px;
  height: 155px;
  margin: 0;
}
.weather-left-side {
  width: 130px;
  padding: 0;
}
.today {
  margin-bottom: 16px;
}
.daily {
  margin: 0 0 6px 0;
  padding: 0;
  width: 384px;
  height: 46px;
  padding: 4px 0px 4px 12px;
  border-left: 2px solid #ffc453;
}
.coding-class {
  width: 384px;
  height: 46px;
  padding: 4px 0px 4px 12px;
  border-left: 2px solid #29E489;
}
