body{
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}
.container{
    margin: 93px auto 201px;
    background-color: lightcoral;
    width: 1280px;
    height: 688px;
}
